@{
    ViewBag.Title = "Menu";
}

<div id="index-page-wrapper">
    <ul>
        <li>
            <div><a id="ads-link" class="nav-sub-link" href="#/Home/Ads">
                    <div id="index-page-menu-item-ads-top-shadow" class="index-page-menu-item-top-shadow"></div>
                    <div class="index-page-menu-item-white-shadow"></div> 
                    <div class="index-page-menu-item-white-shadow-pattern"></div> 
                    <div class="index-page-menu-item-border"></div>   
                     <div id="index-page-menu-item-ads" class="index-page-menu-item">
                         <div class="index-page-menu-item-blue-shadow"></div>
                         <div class="index-page-menu-item-text-box" id="index-page-menu-item-ads-text-box">Ads</div>
                     </div>
                 </a>
            </div>
        </li><li>
                 <div><a id="photos-link" class="nav-sub-link" href="#/Home/Photos">
                         <div id="index-page-menu-item-photos-top-shadow" class="index-page-menu-item-top-shadow"></div>
                         <div class="index-page-menu-item-white-shadow"></div>  
                         <div class="index-page-menu-item-white-shadow-pattern"></div>   
                         <div class="index-page-menu-item-border"></div>   
                         <div id="index-page-menu-item-photos" class="index-page-menu-item">
                             <div class="index-page-menu-item-blue-shadow"></div>
                             <div class="index-page-menu-item-text-box" id="index-page-menu-item-photos-text-box">Photos</div>    
                         </div> 
                     </a>
                 </div>         
             </li><li>
                      <div><a id="aboutuss-link" class="nav-sub-link" href="#/Home/About">
                              <div id="index-page-menu-item-aboutus-top-shadow" class="index-page-menu-item-top-shadow"></div>
                              <div class="index-page-menu-item-white-shadow"></div>  
                              <div class="index-page-menu-item-white-shadow-pattern"></div> 
                              <div class="index-page-menu-item-border"></div>     
                              <div id="index-page-menu-item-aboutus" class="index-page-menu-item">
                                  <div class="index-page-menu-item-blue-shadow"></div>
                                  <div class="index-page-menu-item-text-box" id="index-page-menu-item-aboutus-text-box">About Us</div>  
                              </div>   
                          </a>  
                      </div>          
                  </li>
    </ul>
</div>
