@{
	ViewBag.Title = "Photos";
}

<div class="photos-page-wrapper">
    <ul id="photos-list">
        <li class="first-photo">
            <a class="fancybox" rel="group" href="../../Images/Photos/photo-1.jpg"><img src="../../Images/Photos/photo-1.jpg"
                                                                                        width="416px" height="572px" alt="" /></a>
        </li><li>
                 <a class="fancybox" rel="group" href="../../Images/Photos/photo-2.jpg"><img src="../../Images/Photos/photo-2.jpg"
                                                                                             width="382px" height="572px" alt="" /></a>
             </li><li>
                      <a class="fancybox" rel="group" href="../../Images/Photos/photo-3.jpg"><img src="../../Images/Photos/photo-3.jpg"
                                                                                                  width="422px" height="572px" alt="" /></a>
                  </li><li>
                           <a class="fancybox" rel="group" href="../../Images/Photos/photo-4.jpg"><img src="../../Images/Photos/photo-4.jpg"
                                                                                                       width="716px" height="572px" alt="" /></a>
                       </li>
    </ul>
</div>
@Html.Partial("PhotosDynamic")






