@using System.Web.Optimization
@{
	ViewBag.Title = "Photos-Dynamic";
}
<p id="photos-portfolio-title">Portfolio</p>

<div class="photos-page-wrapper" id="photos-dynamic-page-wrapper">
    
    <div><ul id="photos-dynamic-list">
         </ul>
    </div>
</div>
@Scripts.Render("~/bundles/photosDynamic")
